:root {
  --white-1: rgb(255, 255, 255);
  --white-2: rgb(250, 250, 250);
  --black-1: rgb(56, 56, 56);
  --black-1-10: rgba(0, 0, 0, 0.1);
  --gray-1: rgb(187, 187, 187);
  --gray-1-50: rgb(187, 187, 187, 0.5);
  --gray-2: rgb(238, 238, 238);
  --gray-3: rgb(87, 87, 87);
  --green-1: rgb(88, 196, 0);
  --red-1: rgb(255, 188, 188);
  --orange-1: rgb(233, 35, 0);
  --orange-1-50: rgba(235, 35, 0, 0.5);

  --g-page-bg-color: var(--gray-2);
  --g-page-text-color: var(--black-1);
}

:root {
  --g-ff-sans-serif: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --g-ff-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

:root {
  --g-page-min-width: 320px;
  --g-container-max-width: 800px;
  --g-default-padding: 1.25rem;
}

$breakpoint-sm: 575.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 991.98px;
$breakpoint-xl: 1199.98px;
$breakpoint-xxl: 1399.98px;
